* {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "AllerDisplay";
  src: url("/src/fonts/AllerDisplay.ttf"); /* IE9 Compat Modes */
  src: url("/src/fonts/AllerDisplay.ttf") format("truetype"); /* Safari, Android, iOS */
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3b4163;
  font-family: "AllerDisplay";
}

.App {
  width: 1000px;
  height: 600px;
  background-color: rgb(235, 235, 235);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  right: 0;
  bottom: 0;
  align-self: flex-end;
  border-style: solid;
  border-width: 0 0 350px 350px;
  border-color: transparent transparent #4d69fa transparent;
}

.topPanel {
  display: flex;
  height: 80%;
  justify-content: space-between;
}

.password {
  width: 100%;
  height: 20%;
  display: flex;
  align-self: center;
  justify-content: center;
}

.missedLetters-container {
  color: #53555d;
  width: 45%;
  height: 100%;
  padding-top: 40px;
}

.missedLetter {
  color: #4d69fa;
  display: inline-block;
  font-size: 36px;
  text-transform: uppercase;
  margin-right: 5px;
}

.letter {
  background-color: rgb(99, 99, 99);
  font-size: 35px;
  width: 50px;
  height: 50px;
  padding-top: 5px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  border-radius: 5px;
  margin: 2px;
  z-index: 1;
}

.letter-covered {
  background-color: #d3d3d3;
  font-size: 35px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  margin: 2px;
  z-index: 1;
}

.start-info {
  position: fixed;
  width: 1000px;
  height: 600px;
  background-color: #3b416388;
  display: flex;
  flex-direction: column;
  color: rgb(255, 196, 0);
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
}

.gameOver {
  position: absolute;
  width: 1000px;
  height: 600px;
  left: auto;
  right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3b416388;
  color: white;
  font-size: 40px;
  text-transform: uppercase;
  z-index: 4;
}

.popup-word {
  font-size: 15px;
}

button {
  width: 150px;
  height: 50px;
  color: rgb(255, 196, 0);
  border-radius: 25px;
  border: 3px dashed rgb(255, 196, 0);
  background-color: Transparent;
  font-weight: 900;
  margin-top: 10px;
  outline: none;
  transition: 0.3s;
}

button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 196, 0);
}

.hangman {
  height: 100%;
  width: 30%;
  padding-top: 40px;
  position: relative;
}

.hangman-part0 {
  width: 200px;
  height: auto;
  position: absolute;
}

.hangman-part1 {
  width: 100px;
  height: auto;
  left: 130px;
  top: 70px;
  position: absolute;
  z-index: 1;
}

.hangman-part2 {
  width: 30px;
  height: auto;
  position: absolute;
  left: 165px;
  top: 160px;
}

.hangman-part3 {
  width: 75px;
  height: auto;
  position: absolute;
  left: 145px;
  top: 190px;
  z-index: 2;
}

.hangman-part4 {
  width: 80px;
  height: auto;
  position: absolute;
  left: 195px;
  top: 190px;
  z-index: 2;
}

.hangman-part5 {
  width: 80px;
  height: auto;
  position: absolute;
  left: 90px;
  top: 190px;
  z-index: 2;
}

.hangman-part6 {
  width: 20px;
  height: auto;
  position: absolute;
  left: 260px;
  top: 250px;
  z-index: 0;
}

.hangman-part7 {
  width: 20px;
  height: auto;
  position: absolute;
  left: 85px;
  top: 253px;
  z-index: 1;
}

.hangman-part8 {
  width: 60px;
  height: auto;
  position: absolute;
  left: 185px;
  top: 295px;
  z-index: 1;
}

.hangman-part9 {
  width: 60px;
  height: auto;
  position: absolute;
  left: 120px;
  top: 295px;
  z-index: 1;
}

.hangman-part10 {
  width: 50px;
  height: auto;
  position: absolute;
  left: 30px;
  left: 215px;
  top: 410px;
}

.hangman-part11 {
  width: 50px;
  height: auto;
  position: absolute;
  left: 100px;
  top: 410px;
}
